
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>var-input</title>
	<link rel="stylesheet" href="./lib/css/element-ui1.4.4.css">
	<link rel="stylesheet" href="./css/index.css"> 
    <script src="./lib/js/vue.js"></script> 
    <!-- <script src="./lib/js/element-ui1.4.4.js"></script> -->
    <script>

Vue.config.productionTip = false
    </script>
</head>
<body>
		<div id='main'>
	   	<div style="border:1px solid black;">{{obj1}}<br/>{{obj2}}<br/>{{obj3}}<br/>{{obj4}}</div> 
            <var-input v-model='obj1'></var-input>
            <var-input v-model='obj2'></var-input>
            <var-input v-model='obj3'></var-input>
            <var-input v-model='obj4'></var-input>


            <input type='button' @click="changeObj(obj1,'num')" value='变obj1 num'></input>
            <input type='button' @click="changeObj(obj1,'str')" value='变obj1 str'></input>
            <input type='button' @click="changeObj(obj1,'bool')" value='变obj1 bool'></input>
            <input type='button' @click="changeObj(obj1,'null')" value='变obj1 null'></input>


            <input type='button' @click="sss" value='sss'></input>
		</div>
</body>
<script type="text/x-template" id="var-input-template">
  <div :class="['varedit-div',getCss()] "  
 :contenteditable="canEdit"
 :spellcheck='canEdit'
 @focus="isLocked = true"
 @blur="isLocked = false"
 @input.stop="changeText"  
 @keydown.stop="keyDown($event)"
 >{{innerText}}</div>
</script>


<script>  
 
var  utility={ 
    isNumber:function(o){
        return  Object.prototype.toString.call(o)=="[object Number]";
    }, 
    isString:function(o){
        return  Object.prototype.toString.call(o)=="[object String]";
    }, 
    isBoolean:function(o){
        return  Object.prototype.toString.call(o)=="[object Boolean]";
    }, 
    isObj:function(o){
        return  Object.prototype.toString.call(o)=="[object Object]";
    },
    isArray:function(o){
        return  Object.prototype.toString.call(o)=="[object Array]";
    },
    isNULL:function(o){
        return  Object.prototype.toString.call(o)=="[object Null]";
    }, 
    isWhat:function(o){
        return Object.prototype.toString.call(o);
    } 
}


	Vue.component('var-input', {
  		props: {   
            value: { 
                default: null
            },
            canEdit: {
                type: Boolean,
                default: true
            }
		}, 
        data(){
            return {
                innerText: this.value,
                isLocked: false,
                dataType:null
            }
        },
  		template: '#var-input-template' , 
        watch: {
            'value'(){
                if (!this.isLocked ) {
                    this.setValue(); 
                }
            }
        },
        methods: {
            changeText(){
                this.$emit('input', this.getValue());
            },
            getValue(){                
                if(utility.isNULL(this.value)){
                    return this.$el.innerHTML;
                } 
                if(utility.isString(this.value)){
                    return this.$el.innerHTML;
                }
                if(utility.isNumber(this.value)){
                    return Number(this.$el.innerHTML);
                }
                if(utility.isBoolean(this.value)){
                    if(this.$el.innerHTML=='0'||this.$el.innerHTML=='false'){
                        return false;
                    }
                    return Boolean(this.$el.innerHTML);
                }
                if(utility.isObj(this.value)){
                    return JSON.parse(this.$el.innerHTML);
                }
                if(utility.isArray(this.value)){
                    return JSON.parse(this.$el.innerHTML);
                }
            },
            setValue(){
                if(utility.isNULL(this.value)){
                    this.innerText=this.value;
                } 
                if(utility.isString(this.value)){
                    this.innerText=this.value;
                }
                if(utility.isNumber(this.value)){
                    this.innerText=this.value;
                }
                if(utility.isBoolean(this.value)){
                    this.innerText=this.value;
                }
                if(utility.isObj(this.value)){
                    this.innerText=JSON.stringify(this.value);
                }
                if(utility.isArray(this.value)){
                    this.innerText=JSON.stringify(this.value);
                }
            },
            keyDown(ev){
                if(ev.keyCode==8&&this.value==''){
                    this.value=null;    
                }
            },
            getCss(){
                switch(utility.isWhat(this.value)){
                    case "[object Null]":
                        return "ve-null";
                    case "[object Boolean]":
                        return "ve-bool"; 
                    case "[object String]":
                        return "ve-str";
                    case "[object Number]":
                        return "ve-num";
                    default:
                        return ""
                }
            }
        }, 
        mounted:function(){ 
            this.dataType=utility.isWhat(this.value);
            console.log("beforeCreate:"+this.value);
            console.log("beforeCreate:"+this.dataType); 
        }
	});
	var app = new Vue({
  		el: '#main',
  		data:{
  			msg:'aa',
            obj1:111,
            obj2:"14123",
            obj3:true,
            obj4:null
  		},

        methods: {
            sss(){
                console.log(this.obj1);
                console.log(utility.isWhat(this.obj1));
            },
            changeObj(o,type){
                console.log(o);
                console.log(type);

                if('str'==type){
                    o=o+'';
                }else if('num'==type){
                    o=Number(o);
                }else if('bool'==type){

                    if(o=='0'||o=='false'){
                        o=false;
                    }
                    o= Boolean(o); 
                }else if('null'==type){
                    o=null;
                }
                this.obj1=o;
            }
        }
	});
</script> 

<style lang="scss" rel="stylesheet/scss">
    .varedit-div {
        width: 100%;
        height: 100%; 
        word-break: break-all;
        outline: none;
        box-sizing: border-box;
        user-select: text;
        border: 1px solid;
        border-color: transparent; 
        /*white-space: pre-wrap;*/
        text-align: left; 
    }


    .varedit-div:focus, .jsoneditor-field:focus, .varedit-div:hover, .jsoneditor-field:hover, .jsoneditor-search-highlight {
    background-color: #FFFFAB;
    border: 1px solid yellow;
    border-radius: 2px;
}


.ve-num
{
    color: #CF6A4C;
}
.ve-str
{
    color: #8F9D6A
}
.ve-bool
{
    color: #8d8dff;
}
.ve-null
{
    color: #888888;
}
.ve-null:empty::before{
    color:lightgrey;
    content:'null';
}

.ve-error:after
{
    content: "!";
    display: inline-block;
    /*position: absolute;*/
    /* width: 100%; */
    /* left: 0px; */
    right: 0; 
    color:red;

}
</style>
</html>




